<div class="columns mt-4">
  <div class="column">
    <app-card
      [name]="cardForm.get('name').value"
      [cardNumber]="cardForm.get('cardNumber').value"
      [expiration]="cardForm.get('expiration').value"
    ></app-card>
  </div>
  <div class="column">
    <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
      <app-input [control]="cardForm.get('name')" label="Name"></app-input>
      <app-input
        [control]="cardForm.get('cardNumber')"
        label="Card Number"
        [mask]="'0000 - 0000 - 0000 - 0000'"
      ></app-input>
      <div class="columns">
        <div class="column">
          <app-input
            [control]="cardForm.get('expiration')"
            label="Expiration (MM/YY)"
          ></app-input>
        </div>
        <div class="column">
          <app-input
            [control]="cardForm.get('securityCode')"
            label="Security Code"
          ></app-input>
        </div>
      </div>
      <div class="buttons">
        <button
          type="submit"
          [disabled]="cardForm.invalid"
          class="button is-primary"
        >
          Submit
        </button>
        <button
          type="button"
          class="button is-warning"
          (click)="onReset()"
          [disabled]="!cardForm.dirty"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
